@model EventManager4.Models.Team

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Played)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Played)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Won)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Won)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.League.LeagueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.League.LeagueName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
